.login{
    height: 80vh;
    display: flex;
    justify-content: center;
}
.login-card{
    margin: auto;
    width: 400px;
}
label{
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
}
input{
    margin-bottom: 10px;
    width: 100%;
}